### Data Wrangling Exercise
**The Task:**
There are two sets of files named covid* and worldwide*.
Both sets of files have two versions at two different times of the day: around 11pm(23:00) and early in the morning:

(1) Organise the files into 4 groups (show formula + number of files each).
   - (a) covid* 11pm+
   - (b) world* 11pm+
   - (c) covid* other time
   - (d) world* other time
   
2) Using 1b above, how many cases did the US and Germany each record in April?

3) Using 1b above, how many cases did the US and Germany each record in May?

4) Using 1c above, how many cases did Italy and Russia each record in April?

5) Using 1c above, how many cases did Italy and Russia each record in May?

#### Kicker
Using 1b, how many cases were recorded by US, Italy, China, Russia, Germany in April + May?

In [1]:
# import packages
import os
import numpy as np
import pandas as pd
import plotly.express as px
import re
os.chdir(r"AskPyFesh Challenge 2 dataset")
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Get data from file path
list_data = os.listdir(r"C:\Users\USER\Documents\AskPyFesh Challenge 2 dataset")

#### Question 1

In [7]:
#Total number of files in covid_11pm
covid_11pm = [f for f in list_data if re.findall(r'covid*\S+[\s]23\S+.csv',f)]
print(f"Total number of files for covid_11pm = {len(covid_11pm)}")

#Splitting covid_11pm files per Month(Apr/May) to answer questions above 
covid_Apr = [f for f in list_data if 'Apr' in f]
covid_Apr_11pm = [f for f in covid_Apr if re.findall(r'covid*\S+[\s]23\S+.csv',f)]
print(f"Total number of files for covid_Apr_11pm = {len(covid_Apr_11pm)}")
#combine all files in the list
covid = pd.concat([pd.read_csv(f) for f in covid_Apr_11pm])
#export to csv
covid.to_csv('covid_Apr_11pm.csv',index=False,encoding='utf-8-sig')
#load dataset
covid_Apr_11pm = pd.read_csv('covid_Apr_11pm.csv')

covid_May = [f for f in list_data if 'May' in f]
covid_May_11pm = [f for f in covid_May if re.findall(r'covid*\S+[\s]23\S+.csv',f)]
print(f"Total number of files for covid_May_11pm = {len(covid_May_11pm)}")
#combine all files in the list
covid = pd.concat([pd.read_csv(f) for f in covid_May_11pm])
#export to csv
covid.to_csv('covid_May_11pm.csv',index=False,encoding='utf-8-sig')
#load dataset
covid_May_11pm = pd.read_csv('covid_May_11pm.csv')

Total number of files for covid_11pm = 42
Total number of files for covid_Apr_11pm = 18
Total number of files for covid_May_11pm = 24

In [12]:
worldwide_11pm = [f for f in list_data if re.findall(r'worldwide*\S+[\s]23\S+.csv',f)]
print(f"Total number of files for worldwide_11pm = {len(worldwide_11pm)}" )

#Splitting covid_11pm files per Month(Apr/May) to answer questions above 
worldwide_Apr = [f for f in list_data if 'Apr' in f]
worldwide_Apr_11pm = [f for f in worldwide_Apr if re.findall(r'worldwide*\S+[\s]23\S+.csv',f)]
print(f"Total number of files for worldwide_Apr_11pm = {len(worldwide_Apr_11pm)}" )
#combine all files in the list
def combine_column_apr(files):
    cols = {'Total confirmed cases':'Total confirmed','Cases confirmed today':'Total_confirmed_today','Confirmed recoveries':'Total_recoveries','Deaths today':'Total_deaths_today',
            'Total deaths':'Total_deaths','Recoveries confirmed today':'Total_Recoveries_today',}
    worldwide = pd.concat([pd.read_csv(f).rename(columns=cols) for f in worldwide_Apr_11pm],ignore_index=True)
    #worldwide.columns = [line.lower().replace(' ','_') for line in worldwide.columns]
    return worldwide 
worldwide_Apr_11pm = combine_column_apr(worldwide_Apr_11pm)

worldwide_May = [f for f in list_data if 'May' in f]
worldwide_May_11pm = [f for f in worldwide_May if re.findall(r'worldwide*\S+[\s]23\S+.csv',f)]
print(f"Total number of files for worldwide_May_11pm = {len(worldwide_May_11pm)}" )
#combine all files in the list
worldwide1 = pd.concat([pd.read_csv(f) for f in worldwide_May_11pm])
#export to csv
worldwide1.to_csv('worldwide_May_11pm.csv',index=False,encoding='utf-8-sig')
#load dataset
worldwide_May_11pm = pd.read_csv('worldwide_May_11pm.csv')

Total number of files for worldwide_11pm = 43
Total number of files for worldwide_Apr_11pm = 19
Total number of files for worldwide_May_11pm = 24

In [13]:
#Total number of files in covid_other
covid_other = [f for f in list_data if re.findall(r'covid*\S+[\s][^23]\S+.csv',f)]
print(f"Total number of files for covid_other = {len(covid_other)}")

#Splitting covid_other files per Month(Apr/May) to answer questions above 
covid_Apr_other = [f for f in covid_Apr if re.findall(r'covid*\S+[\s][^23]\S+.csv',f)]
print(f"Total number of files for covid_Apr_other = {len(covid_Apr_other)}")
#combine all files in the list
covid = pd.concat([pd.read_csv(f) for f in covid_Apr_other])
#export to csv
covid.to_csv('covid_Apr_other.csv',index=False,encoding='utf-8-sig')
#load dataset
covid_Apr_other = pd.read_csv('covid_Apr_other.csv')

covid_May_other = [f for f in covid_May if re.findall(r'covid*\S+[\s][^23]\S+.csv',f)]
print(f"Total number of files for covid_May_other = {len(covid_May_other)}")
#combine all files in the list
covid = pd.concat([pd.read_csv(f) for f in covid_May_other])
#export to csv
covid.to_csv('covid_May_other.csv',index=False,encoding='utf-8-sig')
#load dataset
covid_May_other = pd.read_csv('covid_May_other.csv')

Total number of files for covid_other = 51
Total number of files for covid_Apr_other = 28
Total number of files for covid_May_other = 23

In [10]:
worldwide_other = [f for f in list_data if re.findall(r'worldwide*\S+[\s][^23]\S+.csv',f)]
print(f"Total number of files for worldwide_other = {len(worldwide_other)}" )

#Splitting covid_other files per Month(Apr/May) to answer questions above 
worldwide_Apr_other = [f for f in worldwide_Apr if re.findall(r'worldwide*\S+[\s][^23]\S+.csv',f)]
print(f"Total number of files for worldwide_Apr_other = {len(worldwide_Apr_other)}" )
#combine all files in the list
worldwide = pd.concat([pd.read_csv(f) for f in worldwide_Apr_other])
#export to csv
worldwide.to_csv('worldwide_Apr_other.csv',index=False,encoding='utf-8-sig')
#load dataset
worldwide_Apr_11pm = pd.read_csv('worldwide_Apr_other.csv')

worldwide_May_other = [f for f in worldwide_May if re.findall(r'worldwide*\S+[\s][^23]\S+.csv',f)]
print(f"Total number of files for worldwide_May_other = {len(worldwide_May_other)}" )
#combine all files in the list
worldwide = pd.concat([pd.read_csv(f) for f in worldwide_May_other])
#export to csv
worldwide.to_csv('worldwide_May_other.csv',index=False,encoding='utf-8-sig')
#load dataset
worldwide_May_other = pd.read_csv('worldwide_May_other.csv')

Total number of files for worldwide_other = 45
Total number of files for worldwide_Apr_other = 22
Total number of files for worldwide_May_other = 23

#### Question 2: Using worldwide_11pm data, how many cases did the US and Germany each record in April?

In [11]:
worldwide_Apr_11pm.head(2)

,Country,Total confirmed cases,Total deaths,Confirmed recoveries,Cases confirmed today,Deaths today,Recoveries confirmed today,Total confirmed,Total_confirmed_today,Total_deaths,Total_deaths_today,Total_Recoveries,Total_Recoveries_today,Active_confirmed,Critical,Mortality_close,Mortality_confirmed,Total_tests,Total_tests_today
0,united-states,"244,190","5,883","10,400","29,551",784,"1,522",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,italy,"115,242","13,915","18,278","4,668",760,"1,431",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Dropping columns we wont need for this analysis
worldwide_Apr_11pm = worldwide_Apr_11pm.drop(['Critical','Mortality_close','Mortality_confirmed','Total_tests','Total_tests_today','Active_confirmed'],axis=1)

In [9]:
 worldwide_Apr_11pm= worldwide_Apr_11pm.reset_index(drop= True)
worldwide_Apr_11pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     4459 non-null   object
 1   Total confirmed cases       1011 non-null   object
 2   Total deaths                1011 non-null   object
 3   Confirmed recoveries        1011 non-null   object
 4   Cases confirmed today       1011 non-null   object
 5   Deaths today                1011 non-null   object
 6   Recoveries confirmed today  1011 non-null   object
 7   Total confirmed             3448 non-null   object
 8   Total_confirmed_today       3448 non-null   object
 9   Total_deaths                3448 non-null   object
 10  Total_deaths_today          3448 non-null   object
 11  Total_Recoveries            3448 non-null   object
 12  Total_Recoveries_today      3448 non-null   object
dtypes: object(13)
memory usage: 453.0+ KB

In [10]:
#drop duplicates
worldwide_Apr_11pm = worldwide_Apr_11pm.drop_duplicates()
worldwide_Apr_11pm= worldwide_Apr_11pm.reset_index(drop= True)
#From the result we'll be able to see whether or not all columns have complete data in them.
worldwide_Apr_11pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3917 entries, 0 to 3916
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     3917 non-null   object
 1   Total confirmed cases       925 non-null    object
 2   Total deaths                925 non-null    object
 3   Confirmed recoveries        925 non-null    object
 4   Cases confirmed today       925 non-null    object
 5   Deaths today                925 non-null    object
 6   Recoveries confirmed today  925 non-null    object
 7   Total confirmed             2992 non-null   object
 8   Total_confirmed_today       2992 non-null   object
 9   Total_deaths                2992 non-null   object
 10  Total_deaths_today          2992 non-null   object
 11  Total_Recoveries            2992 non-null   object
 12  Total_Recoveries_today      2992 non-null   object
dtypes: object(13)
memory usage: 397.9+ KB

#### Some observations:
    - For this question we are interested in the 'total_confirmed_today' column. A quick glance at the stats above shows 
    that it has 591 missing values.That's a lot! we will deal with this missing values as we go further in our analysis 
    - Notice too that the column "Total_confirmed_today" is of type object. The comma in each value for this column needs to be removed, and the column needs to be converted to numeric

#### Cleaning the total_confirmed_today column 
    - Removing the comma(,) 
    There are a bunch of different ways to accomplish this in Python. But for this data, we will use a straight forward str.replace(',','') method on the entire column as it simply replaces the ',' it looks like this:

In [14]:
worldwide_Apr_11pm['Total_confirmed_today']=worldwide_Apr_11pm['Total_confirmed_today'].str.replace(',', '')
worldwide_Apr_11pm['Total_confirmed_today']=worldwide_Apr_11pm['Total_confirmed_today'].fillna(0)
worldwide_Apr_11pm['Total_confirmed_today']=worldwide_Apr_11pm['Total_confirmed_today'].astype(int)

In [15]:
worldwide_Apr_11pm['Total confirmed']=worldwide_Apr_11pm['Total confirmed'].str.replace(',', '')
worldwide_Apr_11pm['Total confirmed']=worldwide_Apr_11pm['Total confirmed'].fillna(0)
worldwide_Apr_11pm['Total confirmed']=worldwide_Apr_11pm['Total confirmed'].astype(int)

In [16]:
worldwide_Apr_11pm['Country']=worldwide_Apr_11pm['Country'].replace('united-states','USA')
#worldwide_Apr_11pm.reset_index(drop=True)

In [17]:
US_cases_Apr = worldwide_Apr_11pm[worldwide_Apr_11pm['Country']=='USA']['Total confirmed cases'].sum()
print(f"Total number of cases in April for US = {US_cases_Apr}")

KeyError: 'Total confirmed cases'

In [22]:
Germany_cases_Apr = worldwide_Apr_11pm[worldwide_Apr_11pm['Country']=='germany']
Germany_cases_Apr = Germany_cases_Apr['Total confirmed'].max() - Germany_cases_Apr['Total confirmed'].min()
print(f"Total number of cases in April for Germany = {Germany_cases_Apr}")

Total number of cases in April for Germany = 161539

In [16]:
df1 = pd.DataFrame({'Country':['US','Germany'],
                   'Total cases in April':[US_cases_Apr,Germany_cases_Apr]
                   })
df1.set_index('Country')

         Total cases in April
Country
US                    1510633
Germany                161539

#### Question 3: Using worldwide_11pm data, how many cases did the US and Germany each record in May?

In [19]:
worldwide_May_11pm.head(2)

,Country,Total confirmed,Total_confirmed_today,Total_deaths,Total_deaths_today,Total_Recoveries,Total_Recoveries_today,Active_confirmed,Critical,Mortality_close,Mortality_confirmed,Total_tests,Total_tests_today
0,united-states,"1,129,882","35,152","65,724","1,883","161,551","9,227","902,607","16,478 (2%)","902,607",6%,"6,690,837","314,371"
1,spain,"242,988","3,349","24,824",281,"142,450","4,466","75,714","2,500 (3%)","75,714",10%,"1,528,833","73,527"

In [20]:
#Dropping columns we wont need for this analysis
worldwide_May_11pm = worldwide_May_11pm.drop(['Critical','Mortality_close','Mortality_confirmed','Total_tests','Total_tests_today','Active_confirmed'],axis=1)

In [68]:
worldwide_May_11pm= worldwide_May_11pm.reset_index(drop= True)
worldwide_May_11pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5178 entries, 0 to 5177
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 5178 non-null   object
 1   Total confirmed         5178 non-null   object
 2   Total_confirmed_today   5178 non-null   object
 3   Total_deaths            5178 non-null   object
 4   Total_deaths_today      5178 non-null   object
 5   Total_Recoveries        5178 non-null   object
 6   Total_Recoveries_today  5178 non-null   object
dtypes: object(7)
memory usage: 283.3+ KB

In [69]:
#drop duplicates
worldwide_May_11pm = worldwide_May_11pm.drop_duplicates()
worldwide_May_11pm= worldwide_May_11pm.reset_index(drop= True)
#From the result we'll be able to see whether or not all columns have complete data in them.
worldwide_May_11pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3950 entries, 0 to 3949
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 3950 non-null   object
 1   Total confirmed         3950 non-null   object
 2   Total_confirmed_today   3950 non-null   object
 3   Total_deaths            3950 non-null   object
 4   Total_deaths_today      3950 non-null   object
 5   Total_Recoveries        3950 non-null   object
 6   Total_Recoveries_today  3950 non-null   object
dtypes: object(7)
memory usage: 216.1+ KB

In [70]:
#convert all column headers to lowercase and add an underscore
worldwide_May_11pm .columns = [line.lower().replace(' ','_') for line in worldwide_May_11pm .columns]
worldwide_May_11pm.head(2)

,country,total_confirmed,total_confirmed_today,total_deaths,total_deaths_today,total_recoveries,total_recoveries_today
0,united-states,"1,129,882","35,152","65,724","1,883","161,551","9,227"
1,spain,"242,988","3,349","24,824",281,"142,450","4,466"

In [71]:
worldwide_May_11pm=worldwide_May_11pm.fillna(0)
worldwide_May_11pm= worldwide_May_11pm.reset_index(drop= True)

In [72]:
worldwide_May_11pm['total_confirmed_today']=worldwide_May_11pm['total_confirmed_today'].str.replace(',', '')
worldwide_May_11pm['total_confirmed_today']=worldwide_May_11pm['total_confirmed_today'].fillna(0)
worldwide_May_11pm['total_confirmed_today']=worldwide_May_11pm['total_confirmed_today'].astype(int)
worldwide_May_11pm= worldwide_May_11pm.reset_index(drop= True)

In [73]:
worldwide_May_11pm['total_confirmed']=worldwide_May_11pm['total_confirmed'].str.replace(',', '')
worldwide_May_11pm['total_confirmed']=worldwide_May_11pm['total_confirmed'].fillna(0)
worldwide_May_11pm['total_confirmed']=worldwide_May_11pm['total_confirmed'].astype(int)

In [74]:
worldwide_May_11pm['country']=worldwide_May_11pm['country'].replace('united-states','USA')

In [75]:
US_cases_May = worldwide_May_11pm[worldwide_May_11pm['country']=='USA']
US_cases_May = US_cases_May['total_confirmed'].max() - US_cases_May['total_confirmed'].min()
print(f"Total number of cases in May for US = {US_cases_May}")

Total number of cases in May for US = 555285

In [76]:
Germany_cases_May = worldwide_May_11pm[worldwide_May_11pm['country']=='germany']
Germany_cases_May = Germany_cases_May['total_confirmed'].max() - Germany_cases_May['total_confirmed'].min()
print(f"Total number of cases in May for Germany = {Germany_cases_May}")

Total number of cases in May for Germany = 16251

In [77]:
df1 = pd.DataFrame({'Country':['US','Germany'],
                   'Total cases in May':[US_cases_May,Germany_cases_May]
                   })
df1.set_index('Country')

         Total cases in May
Country
US                   555285
Germany               16251

In [78]:
fig = px.bar(df1, x='Country', y='Total cases in May',
             color='Total cases in May',
             labels={'US':'Germany'}, title = "US vs Germany cases in May",height=450)
fig.show(renderer='svg')

#### Question 4: Using the covid_other data, how many cases did Italy and Russia each record in April?

In [79]:
covid_Apr_other.head(2)

,countries,infected,deaths,recovered,active,death_rate,recovery_rate,infected_today,deaths_today,recovered_today,critical,tests
0,United States,244190,5883,10400,227907,2.4,4.3,NaN,NaN,NaN,NaN,NaN
1,Italy,115242,13915,18278,83049,12.1,15.9,NaN,NaN,NaN,NaN,NaN

In [80]:
#Dropping columns we wont need for this analysis
covid_Apr_other = covid_Apr_other.drop(['active','critical','deaths_today','tests','recovered_today','recovery_rate'],axis=1)

In [81]:
covid_Apr_other= covid_Apr_other.reset_index(drop= True)
covid_Apr_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5965 entries, 0 to 5964
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   countries       5965 non-null   object
 1   infected        5965 non-null   int64
 2   deaths          5965 non-null   int64
 3   recovered       5965 non-null   int64
 4   death_rate      5965 non-null   float64
 5   infected_today  5128 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 279.7+ KB

In [82]:
#drop duplicates
covid_Apr_other = covid_Apr_other.drop_duplicates()
#From the result we'll be able to see whether or not all columns have complete data in them.
covid_Apr_other.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3725 entries, 0 to 5960
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   countries       3725 non-null   object
 1   infected        3725 non-null   int64
 2   deaths          3725 non-null   int64
 3   recovered       3725 non-null   int64
 4   death_rate      3725 non-null   float64
 5   infected_today  3112 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 203.7+ KB

In [83]:
covid_Apr_other=covid_Apr_other.fillna(0)
covid_Apr_other= covid_Apr_other.reset_index(drop= True)

In [84]:
Italy_cases_Apr = covid_Apr_other[covid_Apr_other['countries']=='Italy']
Italy_cases_Apr = Italy_cases_Apr['infected'].max() - Italy_cases_Apr['infected'].min()
print(f"Total number of cases in April for Italy= {Italy_cases_Apr}")

Total number of cases in April for Italy= 88349

In [85]:
Russia_cases_Apr = covid_Apr_other[covid_Apr_other['countries']=='Russia']
Russia_cases_Apr = Russia_cases_Apr['infected'].max() - Russia_cases_Apr['infected'].min()
print(f"Total number of cases in April for Russia= {Russia_cases_Apr}")

Total number of cases in April for Russia= 102950

In [86]:
df2 = pd.DataFrame({'Country':['Italy','Russia'],
                   'Total cases in April':[Italy_cases_Apr,Russia_cases_Apr]
                   })
df2.set_index('Country')

         Total cases in April
Country
Italy                   88349
Russia                 102950

In [87]:
fig1 = px.bar(df2, x='Country', y='Total cases in April',
             color='Total cases in April',
             labels={'Italy':'Russia'}, title = "Italy vs Russia cases in April",height=450)
fig1.show(renderer='svg')

#### Question 5: Using the covid_other data, how many cases did Italy and Russia each record in May?

In [88]:
covid_May_other.head(2)

,countries,infected,infected_today,deaths,deaths_today,recovered,recovered_today,active,critical,tests,death_rate,recovery_rate
0,United States,1095304,574,63871,30,155737,3413,875696,15226,6391887,5.8,14.2
1,Spain,239639,0,24543,0,137984,0,77112,2676,1455306,10.2,57.6

In [89]:
#Dropping columns we wont need for this analysis
covid_May_other = covid_May_other.drop(['active','critical','deaths_today','tests','recovered_today','recovery_rate'],axis=1)

In [90]:
covid_May_other= covid_May_other.reset_index(drop= True)
covid_May_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5174 entries, 0 to 5173
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   countries       5174 non-null   object
 1   infected        5174 non-null   int64
 2   infected_today  5174 non-null   int64
 3   deaths          5174 non-null   int64
 4   recovered       5174 non-null   int64
 5   death_rate      5009 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 242.7+ KB

In [91]:
#drop duplicates
covid_May_other = covid_May_other.drop_duplicates()
#From the result we'll be able to see whether or not all columns have complete data in them.
covid_May_other.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3988 entries, 0 to 5166
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   countries       3988 non-null   object
 1   infected        3988 non-null   int64
 2   infected_today  3988 non-null   int64
 3   deaths          3988 non-null   int64
 4   recovered       3988 non-null   int64
 5   death_rate      3823 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 218.1+ KB

In [92]:
covid_May_other=covid_May_other.fillna(0)
covid_May_other= covid_May_other.reset_index(drop= True)

In [93]:
Italy_cases_May = covid_May_other[covid_May_other['countries']=='Italy']
Italy_cases_May = Italy_cases_May['infected'].max() - Italy_cases_May['infected'].min()
print(f"Total number of cases in May for Italy= {Italy_cases_May}")

Total number of cases in May for Italy= 24395

In [94]:
Russia_cases_May = covid_May_other[covid_May_other['countries']=='Russia']
Russia_cases_May = Russia_cases_May['infected'].max() - Russia_cases_May['infected'].min()
print(f"Total number of cases in May for Russia= {Russia_cases_May}")

Total number of cases in May for Russia= 238996

In [95]:
df2 = pd.DataFrame({'Country':['Italy','Russia'],
                   'Total cases in May':[Italy_cases_May,Russia_cases_May]
                   })
df2.set_index('Country')

         Total cases in May
Country
Italy                 24395
Russia               238996

In [96]:
fig3 = px.bar(df2, x='Country', y='Total cases in May',
             color='Total cases in May',
             labels={'Italy':'Russia'}, title = "Italy vs Russia cases in May",height=450)
fig3.show(renderer='svg')

#### Some observations:
    - Comparing the total number of cases of Italy and Russia, it can be seen that for May Russia had twice the total number of cases recorded in April. While for italy their cases reduced to almost one-fourth of the cases recorded in April. A 
    tremedous reduction!

#### The Kicker: Using worldwide_11pm data, how many cases were recorded by US, Italy, China, Russia, Germany in April + May?

     - We will add up total cases in Apr and May for US, Italy, China, Russia, Germany. First Apr, then May

#### US, Italy, China, Russia, Germany for April

In [97]:
#For US
US_cases_Apr = worldwide_Apr_11pm[worldwide_Apr_11pm['Country']=='USA']['Total_confirmed_today'].sum()
print(f"Total number of cases in April for US = {US_cases_Apr}")
#For Italy
Italy_cases_Apr = worldwide_Apr_11pm[worldwide_Apr_11pm['Country']=='italy']
Italy_cases_Apr = Italy_cases_Apr['Total confirmed'].max() - Italy_cases_Apr['Total confirmed'].min()
print(f"Total number of cases in April for Italy = {Italy_cases_Apr}")
#For China
China_cases_Apr = worldwide_Apr_11pm[worldwide_Apr_11pm['Country']=='china']
China_cases_Apr = China_cases_Apr['Total confirmed'].max() - China_cases_Apr['Total confirmed'].min()
print(f"Total number of cases in April for China = {China_cases_Apr}")
#For Russia
Russia_cases_Apr = worldwide_Apr_11pm[worldwide_Apr_11pm['Country']=='russia']
Russia_cases_Apr = Russia_cases_Apr['Total confirmed'].max() - Russia_cases_Apr['Total confirmed'].min()
print(f"Total number of cases in April for Russia = {Russia_cases_Apr}")
#For Germany
Germany_cases_Apr = worldwide_Apr_11pm[worldwide_Apr_11pm['Country']=='germany']
Germany_cases_Apr = Germany_cases_Apr['Total confirmed'].max() - Germany_cases_Apr['Total confirmed'].min()
print(f"Total number of cases in April for Germany = {Germany_cases_Apr}")

Total number of cases in April for US = 2704659
Total number of cases in April for Italy = 203591
Total number of cases in April for China = 83812
Total number of cases in April for Russia = 106498
Total number of cases in April for Germany = 161539

#### US, Italy, China, Russia, Germany for May

In [98]:
#For US
US_cases_May = worldwide_May_11pm[worldwide_May_11pm['country']=='USA']
US_cases_May = US_cases_May['total_confirmed'].max() - US_cases_May['total_confirmed'].min()
print(f"Total number of cases in May for US = {US_cases_May}")
#For Italy
Italy_cases_May = worldwide_May_11pm[worldwide_May_11pm['country']=='italy']
Italy_cases_May = Italy_cases_May['total_confirmed'].max() - Italy_cases_May['total_confirmed'].min() 
print(f"Total number of cases in May for Italy = {Italy_cases_May}")
#For China
China_cases_May = worldwide_May_11pm[worldwide_May_11pm['country']=='china']
China_cases_May = China_cases_May['total_confirmed'].max() - China_cases_May['total_confirmed'].min()
print(f"Total number of cases in May for China = {China_cases_May}")
#For Russia
Russia_cases_May = worldwide_May_11pm[worldwide_May_11pm['country']=='russia']
Russia_cases_May = Russia_cases_May['total_confirmed'].max() - Russia_cases_May['total_confirmed'].min()
print(f"Total number of cases in May for Russia = {Russia_cases_May}")
#For Germany
Germany_cases_May = worldwide_May_11pm[worldwide_May_11pm['country']=='germany']
Germany_cases_May = Germany_cases_May['total_confirmed'].max() - Germany_cases_May['total_confirmed'].min()
print(f"Total number of cases in May for Germany = {Germany_cases_May}")

Total number of cases in May for US = 555285
Total number of cases in May for Italy = 22430
Total number of cases in May for China = 877
Total number of cases in May for Russia = 230050
Total number of cases in May for Germany = 16251

    -Next,how many cases were recorded by US, Italy, China, Russia, Germany in April + May?

In [ ]:
US_Apr_May = US_cases_Apr+US_cases_May
Italy_Apr_May = Italy_cases_Apr+Italy_cases_May
China_Apr_May = China_cases_Apr+China_cases_May
Russia_Apr_May = Russia_cases_Apr+Russia_cases_May
Germany_Apr_May = Germany_cases_Apr+Germany_cases_May

In [ ]:
df3 = pd.DataFrame({'Country':['US','Russia','Italy','Germany','China'],
                   'Total cases in April and May':[US_Apr_May,Russia_Apr_May,Italy_Apr_May,Germany_Apr_May,China_Apr_May]
                   })
df3.set_index('Country')

In [ ]:
fig4 = px.bar(df3, x='Country', y='Total cases in April and May',
             color='Total cases in April and May',
             labels={'US':'Russia','Italy':'Germany'}, title = "Total cases in April and May",height=450)
fig4.show(renderer='svg')